<div class="container">
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <div>
          <h4>Buses</h4>
        <div>
      </li>
      <% @buses.each do |bus| %>
      <li class="collection-item">
        <div>
          <%= bus.registration_number %>
          <a href=<%= edit_bus_path(bus) %> class="secondary-content">
            <i class="material-icons">mode_edit</i>
          </a>
          <a href=<%= bus_path(bus) %> class="secondary-content">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </li>
      <% end %>
    </ul>

    <a href=<%= new_bus_path %> class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>
</div>



