<div class="container">
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <div>
          <h4>Bus Stops</h4>
        <div>
      </li>
      <% @bus_stops.each do |bus_stop| %>
      <li class="collection-item">
        <div>
          <%= bus_stop.identifier %>
          <a href=<%= edit_bus_stop_path(bus_stop) %> class="secondary-content">
            <i class="material-icons">mode_edit</i>
          </a>
          <a href=<%= bus_stop_path(bus_stop) %> class="secondary-content">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </li>
      <% end %>
    </ul>

    <a href=<%= new_bus_stop_path %> class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>
</div>


